*
 margin 0
 padding 0
 outline none
 text-rendering optimizeLegibility
 -webkit-font-smoothing antialiased
*,*:before,*:after
 -webkit-box-sizing border-box
 -moz-box-sizing border-box 
 box-sizing border-box 
header,nav,footer,section,article,aside
 display block
img
 border none
p,a,span,label,td,li,dt,dd
 color pt-black
 font 1em/1.2em font-one
html,body
 height 100%
 -webkit-tap-highlight-color rgba(0,0,0,0)
body
 background pt-white
 font-family font-one
 font-size 14px
 width 100%
strong
  font-family font-two
//Headings
h1,h2,h3,h4,h5,h6
 color pt-black
 font-family font-one
 font-weight normal
 line-height 1.35em
h1
 font-size 1.5em
 text-transform uppercase
h2
 font-size 1.4em
h3
 font-size 1.1em
h4
 font-size 1em
h5
 font-size 0.9em
h6
 font-size 0.8em
//BASE
a 
 text-decoration none
small 
 font-size 0.8em 
abbr 
 border-bottom 1px dotted pt-black
code
 background pt-white - 20 
 border-radius(4px)
 border 1px solid pt-black
 font 0.9em/1.15em font-one
 padding 2px 4px    
address
 font-style normal
blockquote
 border-left 5px solid pt-black
 padding 8px 10px
 p:last-child
  margin 0  
//List
ul,ol
 padding 0 0 0 30px
ul ul
 margin 10px 0    
dt 
 font-weight bold
//Tables
table
 border-collapse collapse
 border-spacing 0
 table-layout fixed
 width 100%
 word-wrap break-word
thead
  tr
   background pt-white
  th
   color pt-black
   font 1em/1.2em font-one
   padding 19px 12px
   text-align left
tbody td,tfoot td
 padding 4px
tfoot td
 font bold 13px/18px font-one
//FORM
select,textarea,input[type=text],input[type=password],input[type=datetime],input[type=date],input[type=month],input[type=time],input[type=week],input[type=number],input[type=email],input[type=url],input[type=tel],input[type=color]
 background none
 border 1px solid pt-black
 color pt-black
 display block
 font-family font-one
 font-size 0.9em
 height 26px
 outline none
 padding 4px 6px 2px 6px
 width 100%
::-webkit-input-placeholder
 color pt-black
::-moz-placeholder
 color pt-black
:-moz-placeholder
 color pt-black
:-ms-input-placeholder
 color pt-black
label
 color pt-black
 display block
 margin 0     
input[type=checkbox],input[type=radio]
 cursor pointer
 display block
 float left
 margin 0 3px 0 0
 height 14px
 width 14px
fieldset
 border 1px solid pt-black
 border-radius(5px)
 padding 10px
legend
 color pt-black
select
 padding 3px 0
 width 100%
select[multiple]
 height auto
textarea
 font-family font-one
 height auto
input[type=submit],button
 border none
 cursor pointer
 display block
 text-align left