multiLineEllipsis($lineHeight = 1.2em, $lineCount = 1, $bgColor = white)
  overflow: hidden
  position: relative
  line-height: $lineHeight
  max-height: ($lineHeight * $lineCount)
  padding-right: 1em
  &:before
    content: '...'
    position: absolute
    right: 0
    bottom: 0
    z-index 1
  &:after
    content: ''
    position: absolute
    right: 0
    width: 1em
    height: $lineHeight
    margin-top: 0.2em
    background: $bgColor
    z-index 2


removeMultiLineEllipsis()
  max-height 100%
  padding 0