triangle($width=10px,$color=color-pattern,$side=true)
  border-bottom $width solid transparent
  border-top $width solid transparent
  size 0px
  if $side
    border-right $width solid $color
  else
    border-left $width solid $color

triangleTwo($width=10px,$color=color-pattern,$side=true)
  border-left $width solid transparent
  border-right $width solid transparent
  size 0px
  if $side
    border-top $width solid $color
  else
    border-bottom $width solid $color