triangle($width=10px,$height=10px,$color=pt-black,$side=true)
  border-bottom $height solid transparent
  border-top $height solid transparent
  size 0px
  if $side
    border-right $width solid $color
  else
    border-left $width solid $color

triangleTwo($width=10px,$height=10px,$color=pt-black,$side=true)
  border-left $height solid transparent
  border-right $height solid transparent
  size 0px
  if $side
    border-top $width solid $color
  else
    border-bottom $width solid $color